# ignore .o files
*.o

# ignore .mod files
*.mod

# ignore .x files
*.x

# ignore any VScode settings
.vscode/*

# ignore .dat files in root directory
/*.dat

# ignore .so library files in root directory
/*.so
